.hero {
  height: 350px;
  position: relative;
  width: 100%;
  z-index: -1;
  background-position: center;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.384);
    height: 100%;
    width: 100%;
    top: 0;
  }

  @include media-breakpoint-up(md) {
    height: 550px;
  }

  &__title {
    color: white;
  }

  &__sub-title {
    color: var(--site-light-green);
  }

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
