.hero {
  height: 350px;
  position: relative;
  width: 100%;
  transform: translateY(-11.4%);
  z-index: -1;

  @include media-breakpoint-up(md) {
    height: 550px;
    transform: translateY(0);
  }

  &__title {
    color: white;
  }

  &__sub-title {
    color: var(--site-light-green);
  }

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
