
.skills {
  background-color: var(--site-white);
  text-align: center;

  &__header {
    padding: 0 20px;
    margin-bottom: 45px;

    @include media-breakpoint-up(md) {
      padding: 0 60px;
    }

    @include media-breakpoint-up(lg) {
      padding: 0 175px;
    }
  }

  &__content {
    margin-top: 45px;
    width: 100%;
  }

  hr {
    border-top: 3px solid var(--site-light-green);
    width: 100px;
    margin-right: auto;
    margin-left: auto;
  }

  &__skill-level {
    height: 15px;
    width: 100%;
    background-color: #57cc99;
    border-radius: 25px;
  }

  &__items {
    margin-bottom: 13px;
  }

  &__skill-title {
    margin-bottom: 3px;
    text-align: left;
    font-weight: 400;
  }

  &__progress {
    height: 15px;
    font-weight: bold;
    background-color: var(--site-purple);
    margin-bottom: 20px;
    position: relative;
    border-radius: 25px;
  }

  &__progress-display {
    position: absolute;
    right: 0;
    transform: translateY(-19px);
    font-size: 12px;
    color: var(--site-dark-purple);
  }

  &__progress-1 {
    width: 10%;
  }

  &__progress-2 {
    width: 20%;
  }

  &__progress-3 {
    width: 30%;
  }

  &__progress-4 {
    width: 40%;
  }

  &__progress-5 {
    width: 50%;
  }

  &__progress-6 {
    width: 60%;
  }

  &__progress-7 {
    width: 70%;
  }

  &__progress-8 {
    width: 80%;
  }

  &__progress-9 {
    width: 90%;
  }

  &__progress-10 {
    width: 100%;
  }
}
