.content-info {
  background-color: #333;
  color: white;

  &__copy {
    position: relative;
  }

  &__primary {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
  }

  &__contact-us-item {
    display: flex;

    span {
      margin-left: 15px;
    }
  }
}
