.banner {
  .navbar-collapse {
    position: relative;

    .menu-primary-menu-container {
      position: absolute;
      right: 0;
    }

    &.show {
      height: 220px;
    }
  }

  .navbar-nav {
    li {
      @extend .nav-item;
    }

    a {
      @extend .nav-link;
    }
  }

  .logo {
    svg {
      path {
        fill: var(--site-purple);

        @include media-breakpoint-up(md) {
          fill: var(--site-light-green);
        }
      }
    }
  }
}

.logged-in {
  .banner {
    margin-top: 32px;
  }
}
