.single-project {
  position: relative;

  &__project-hero {
    height: 450px;
    backdrop-filter: blur(10px);

    &::before {
      content: "";
      position: absolute;
      background-color: black;
      opacity: 0.5;
      left: 0;
      height: 450px;
      width: 100%;
    }
  }

  &__hero-title {
    text-align: center;
    font-size: 30px;
    height: 300px;
    width: 100%;
    font-weight: bold;
    color: white;
    transform: translateY(40%);
  }

  &__skill-list {
    padding: 0;
    margin-top: 20px;
  }

  &__skill-item {
    list-style: none;

    &::before {
      content: "• ";
      height: 8px;
      width: 8px;
      border-radius: 50%;
      color: var(--site-green);
      font-size: 20px;
    }
  }

  .slider-nav {
    position: absolute;
    top: 50%;
    height: 40px;
    width: 40px;
    background-color: var(--site-green);
    text-align: center;
    padding: 0 10px;
    font-size: 25px;
    color: var(--site-white);
  }

  .slider-next {
    right: 15px;
  }
}
