.banner {
  transition: all 0.5s ease-out;
}

.content {
  overflow: hidden;
}

.page-section {
  padding: 100px 0;
  position: relative;
}

.section-title {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.section-effects {
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid $orange;
    border-right: 425px solid transparent;
    top: -40px;
    left: 0;

    @include media-breakpoint-up(sm) {
      border-top: 44px solid $orange;
      border-right: 768px solid transparent;
    }

    @include media-breakpoint-up(md) {
      border-right: 768px solid transparent;
    }

    @include media-breakpoint-up(lg) {
      border-right: 1024px solid transparent;
    }

    @include media-breakpoint-up(xl) {
      border-right: 1440px solid transparent;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 25px solid $orange;
    border-left: 425px solid transparent;
    bottom: 0;
    right: 0;

    @include media-breakpoint-up(sm) {
      border-bottom: 44px solid $orange;
      border-left: 768px solid transparent;
    }

    @include media-breakpoint-up(md) {
      border-left: 768px solid transparent;
    }

    @include media-breakpoint-up(lg) {
      border-left: 1024px solid transparent;
    }

    @include media-breakpoint-up(xl) {
      border-left: 1440px solid transparent;
    }
  }
}

.btn {
  display: grid;
  align-items: center;
  background-color: $orange;
  color: var(--white);
  transform: translateY(40px);

  @include media-breakpoint-up(sm) {
    color: var(--white);
  }

  &__primary {
    height: 55px;
    width: 200px;
    margin: auto;
  }

  &:hover {
    color: var(--white);
    background-color: darken($orange, 10%);
  }
}
