.banner {
  transition: all 0.5s ease-out;
}

.content {
  overflow: hidden;
}

.page-section {
  padding: 100px 0;
  position: relative;
}

.section-title {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 100px;
  text-transform: uppercase;

  &--tight {
    margin-bottom: 20px;
  }
}

.section-content {
  font-size: 18px;
  color: var(--site-white);
}

.center-text {
  text-align: center;
}

.section-effects {
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid;
    border-right: 425px solid transparent;
    top: 0;
    left: 0;

    @include media-breakpoint-up(sm) {
      border-top: 44px solid var(--site-light-green);
      border-right: 768px solid transparent;
    }

    @include media-breakpoint-up(md) {
      border-right: 768px solid transparent;
    }

    @include media-breakpoint-up(lg) {
      border-right: 1024px solid transparent;
    }

    @include media-breakpoint-up(xl) {
      border-right: 1440px solid transparent;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 25px solid var(--site-light-green);
    border-left: 425px solid transparent;
    bottom: 0;
    right: 0;

    @include media-breakpoint-up(sm) {
      border-bottom: 44px solid var(--site-light-green);
      border-left: 768px solid transparent;
    }

    @include media-breakpoint-up(md) {
      border-left: 768px solid transparent;
    }

    @include media-breakpoint-up(lg) {
      border-left: 1024px solid transparent;
    }

    @include media-breakpoint-up(xl) {
      border-left: 1440px solid transparent;
    }
  }
}

.btn {
  display: grid;
  align-items: center;
  background-color: var(--site-green);
  color: var(--white);

  @include media-breakpoint-up(sm) {
    color: var(--white);
  }

  &__primary {
    height: 55px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
  }

  &:hover {
    color: var(--white);
    background-color: darken(#38a3a5, 10%);
  }
}
